<!DOCTYPE html>
<html>
	<head>
		<title>GitHub-Labels-Jira-Transitions</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- JQuery Tables -->
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
		

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="container">
			<div class="row">
				<h1>Github/Jira Integration Logs</h1>
			</div>
			<div class="row">
				<table id="logs" class="display table table-striped table-bordered">
					<thead>
						<th>User</th>
						<th>Action</th>
						<th>Code</th>
						<th>Date Time</th>
					</thead>

					<tbody>
				  	<% @events.each do |event| %>
				  		<tr>
				    		<td>
				    			<a href="<%= event['user_url'] %>" target="_blank">
				    			<img src="<%= event['user_avatar_url'] %>" height="48px" width="48px"/>
				    			<%= event['user_name'] %>
				    			</a>
				    		</td>
				    		<td><%= event['action'] %></td>
				       		<td>
				       			<a href="<%= event['code_url'] %>" target="_blank">
				       			<%= event['code_title'] %>
				       			</a>
				       		</td>
				       		<td><%= event['time'] %></td>
				    	</tr>
				  	<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<!-- JQuery son -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- JQuery tables -->
		<script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<!-- Initiate Data Table -->
		<script>
			$(document).ready(function() {
				$('#logs').DataTable( {
					"order": [[ 4, "desc" ]]
				});
			} );
		</script>
	</body>
</html>